body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px;
}

canvas {
  display: block;
  display: inline-block;
}

#container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea, button {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #4285f4;
  color: white;
  border: none;
}

button:hover {
  background-color: #357ae8;
}

label {
  display: block;
  text-align: left;
  width: 90%;
  margin: 5px auto 0px auto;
  font-weight: bold;
}

#two-factor-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}